@use "Oswald";
@use "Roboto";

@mixin reset-a {
	color: var(--text-color);
	text-decoration: none;
}

.introtext {
	padding-top: 20px;
	.ball {
		float: left;
		margin: 0 20px 20px 0;
	}
	p {
		font: {
			family: Roboto;
			size: 1.25em;
		}
		margin-top: 0;
		text-shadow: rgb(221, 221, 221) 8px 8px 8px;

		@media (prefers-color-scheme: dark) {
			color: var(--dark-text-color);
			text-shadow: rgb(77, 79, 108) 8px 8px 8px;
		}
	}
}

.article-info {
	display: none;
}

