@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@200,400&display=swap');

h1 {
	font-family: Oswald;
	text-shadow: rgb(221, 221, 221) 8px 8px 8px;
	@media (min-width: 801px) {
		letter-spacing: 0.03em;
	}
}

.com-content-article {
	padding: 0 20px;
	max-width: 1000px;
	margin: auto;

	figure {
		position: relative;
		margin: 0;

		img {
			border-radius: 15px;
			width: 100%;
		}

		.caption {
			font: {
				family: Oswald;
				size: 0.8em;
			}
			position: absolute;
			bottom: 10px;
			right: 10px;
			padding: 5px 10px;
			background-color: rgba(192, 192, 192, .5);
			color: white;
			letter-spacing: 0.1em;
		}
	}

	.com-content-article__body {
		p:first-child {
			font: {
				family: Oswald;
				size: 1.25em;
			}
			text-shadow: rgb(221, 221, 221) 8px 8px 8px;
		}
		p:not(:first-child) {
			font: {
				family: Roboto;
				weight: 200;
				size: 1em;
			}
			line-height: 1.5em;
			text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}
	}
}

.article-info, .tags, .uitslag {
	display: none;
}
