@use "contentcommon";
@use "button";

.com-content-article {
	padding: 0 20px;

	nav .pagination {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "Previous Next";

		a {
			@include button.readmore;
			padding-top: 6px !important;
			margin: auto;
			text-decoration: none;
		}

		.next {
			grid-area: Next;
		}

		.visually-hidden {
			display: none;
		}
	}

	.banner {
		padding-bottom: 50px;
	}

	.com-content-article__body {
		.fulltext {
			clear: both;
			font: {
				family: Roboto;
				weight: 200;
				size: 1em;
			}
			line-height: 1.5em;
			text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;

			@media (prefers-color-scheme: dark) {
				color: var(--dark-text-color);
			}
		}
	}
}
