@use "variables";

.nav {
	display: flex;
	justify-content: flex-end;

	.dj-megamenu-accordion-light .dj-mobile-open-btn {
		margin-right: 20px;
		background-color: unset;
		color: variables.$blue;

		&:hover, &.active span {
			background-color: unset;
			color: lighten(variables.$blue, 30%);

		}
	}

	ul.dj-mobile-light li.dj-mobileitem {
		& > a {
			background-color: lighten(variables.$blue, 60%);
		}

		& > a:hover, &.active > a {
			background-color: lighten(variables.$blue, 55%);
		}
	}
	.dj-megamenu-clean ul.dj-submenu li {
		background-color: lighten(variables.$blue, 60%);

		& > a:hover, &.hover > a, &.active > a {
			background-color: lighten(variables.$blue, 55%);
		}
	}
}
