@use "variables";

.tags-container {
	margin: 50px 0;

	.tags {
		display: flex;
		flex-wrap: wrap;
		padding-inline-start: 0;
		list-style-type: none;

		li {
			margin-right: 5px;
			font: {
				family: "Oswald";
				size: 0.9em;
			}
		}

		a {
			text-decoration: none;
			color: white;
			border-radius: 20px;
			padding: 3px 15px 5px 15px;
		}

		.tag-team {
			background-color: #93c47d;
		}

		.tag-player {
			background-color: lighten(variables.$base-color, 30%);
		}

		.tag-competition {
			background-color: #ffac57;
		}
	}
}
