@use "variables";
@use "pagination";

.category-desc {

	@media (prefers-color-scheme: dark) {
		color: var(--dark-text-color);
	}

	@media screen and (min-width: 800px){
		display: flex;
		gap: 50px;
	}

	figure {
		flex-basis: 50%;
		width: fit-content;

		img {
			border-radius: 20px;
		}
	}

	dl {
		display: grid;
		grid-template-columns: 1fr 3fr;
		margin-block-start: 0;
		margin-block-end: 0;

		@media screen and (max-width: 800px){
			margin-block-start: 2em;
			background-color: lighten(variables.$base-color, 25%);
			border-radius: 20px;
			padding: 20px;
		}

		dt {
			font-weight: bold;
		}

		dd {
			padding-bottom: 15px;

			span {
				display: inline-block;
				width: 100px;
				padding-right: 10px;
			}
		}
	}
}

.com-tags__items {
	.com-tags-tag__category {
		list-style: none;

		li {
			display: flex;

			.ball {
				margin: 15px 20px;

				.date-container {
					height: 44px;
					width: 48px;
					font-size: 0.6em;
				}
			}

			h3 {
				align-self: center;

				a {
					color: var(--text-color);
					text-decoration: none;

					@media (prefers-color-scheme: dark) {
						color: var(--dark-text-color);
					}
				}
			}

		}
	}
}
