.category-desc {
	img {
		border-radius: 20px;
	}
}

.com-tags__items {
	.com-tags-tag__category {
		list-style: none;

		li {
			display: flex;

			.ball {
				margin: 15px 20px;

				.date-container {
					height: 44px;
					width: 48px;
					font-size: 0.6em;
				}
			}

			h3 {
				align-self: center;

				a {
					color: var(--text-color);
					text-decoration: none;

					@media (prefers-color-scheme: dark) {
						color: var(--dark-text-color);
					}
				}
			}

		}
	}
}
